# Set default behavior to automatically normalize line endings
* text=auto

# Python files
*.py text diff=python eol=lf
*.pyw text diff=python eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.cfg text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.pre-commit-config.yaml text eol=lf
